* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "IBM Plex Serif", serif;
}

.nav-list-link {
  text-decoration: none;
  display: inline-block;
}
.nav-list-link::first-letter {
  /* color: red; */
}

.paragraph {
  text-align: justify;
  text-indent: 25px;
  width: 500px;
  line-height: 1.25;
  font-weight: 700;
  /* letter-spacing: 2px; */
  /* word-spacing: 5px; */
  /* white-space: pre; */
}

.paragraph::first-letter {
  color: red;
  font-size: 30px;
  font-weight: 900;
}

.paragraph::selection {
  background-color: #3f51b5;
}

.decoration {
  /* word-spacing: 5px; */
  color: cornflowerblue;
  font-style: initial;
  /* word-spacing: -15px */
}

.section-header {
  text-shadow: -2px -2px 2px red, -3px -3px 3px blue;
}
