html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --primary: #424242;
  --secondary: #3d3d3d;
  --background: #212121;
  --text: #ffffff;
  --main: #819ff5;
  --active: #5f73a1;
  --title: #ffffff;
  --label: #dbd7d8;
  --input: #111111;
  --button-color: #504f4f;
  --button-text-color: #ffffff;
  --attention-color: #dc143c;
  --brand-color: #3f51b5;
}

body {
  margin: 0;
  padding: 0;
}

.page-header {
  background-color: var(--primary);
  border-bottom: 2px solid var(--main);
  height: 60px;
}

.wrapper {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item:not(:last-child) {
  margin-right: 25px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--main);
  font-weight: 600;
}

.nav-link:hover {
  color: var(--active);
}

.nav-item:last-child {
  display: none;
}

/* ------------------ card ---------------------- */
.cards-list {
  /* outline: 1px solid black; */
  display: flex;
  padding: 10px;
}

.cards-item {
  width: 300px;
  border: 1px solid var(--secondary);
  border-radius: 14px;
  padding: 10px;
  height: 500px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* justify-content: center; */
}

.card-title {
  margin-top: 10px;
}

.card-image {
  margin-top: 10px;
}

.card-description {
  margin-top: 10px;
}

.card-colors {
  margin-top: 10px;
  display: flex;
  align-self: flex-start;
  flex-grow: 1;
}

.colors-item {
  width: 25px;
  height: 25px;
  border: 2px solid var(--main);
  border-radius: 6px;
  /* margin-left: 10px; */
}

.colors-title {
  margin-right: 10px;
}

.colors-list {
  display: flex;
}
.colors-item:not(:last-child) {
  margin-right: 10px;
}

.color1 {
  background-color: red;
}
.color2 {
  background-color: green;
}
.color3 {
  background-color: blue;
}

.buttons-group {
  margin-top: 10px;
}
