html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.card {
  width: 100%;
  border: 1px solid black;
  border-radius: 14px;
  padding: 10px;
}

.card-title {
  margin: 0;
  text-align: center;
}
.card-image {
  display: block;
  margin: 20px auto 0;
}

.description {
  margin: 20px 0 0;
}

.buttons-group {
  /* background-color: red; */
  margin-top: 20px;
  /* outline: 1px solid red; */
  text-align: center;
  font-size: 0;
}

.btn {
  width: 120px;
  background-color: cornflowerblue;
  border: none;
  height: 24px;
  color: white;
  text-transform: uppercase;
}

.btn:first-child {
  border-right: 1px solid white;
  border-radius: 14px 0 0 14px;
}

.btn:nth-child(2) {
  border-radius: 0 14px 14px 0;
}

.btn:hover,
.btn:focus {
  background-color: darkolivegreen;
}

.colors-list {
  list-style: none;
  display: flex;
  padding: 0;
}

.colors-items {
  width: 14px;
  height: 14px;
  border: 1px solid black;
  border-radius: 4px;
}

.colors-items:not(:last-child) {
  margin-right: 10px;
}

.colors-items:nth-child(1) {
  background-color: red;
}
.colors-items:nth-child(2) {
  background-color: green;
}
.colors-items:nth-child(3) {
  background-color: blue;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 5px;
  margin: 0;
}

.cards-item {
  width: 25%;
  padding: 5px;
  outline: 1px solid red;
}
